.page-nav-wrap{
    width: 100%;
    height: 36px;
    background-color: #f2f2f1;
}
.page-nav{
    width: 1080px;
    height: 36px;
    margin: 0 auto;
    font-size: 14px;
}
.xdd-icon-down:before{
    content: "\f107";
    font-family: "xdd-icon";
}
.address{
    margin-top: 8px;
}
.address:hover .xdd-icon-down:before{
    content: "\f105";
}
.signOut{
    padding: 8px 8px;
    cursor: pointer;
}
.signOut:hover{
    background-color: #c40000;
    color: #fff;
}
.page-header-wrap{
    width: 100%;
    height: 150px;
}
.page-headers{
    width: 1080px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-bottom:1px solid #c40000;

}
.searchNameWrap{
    width: 360px;
    margin: 35px auto;

}
.searchButton{
    background-color: #c40000;
    outline: none;
    color: #fff;
    font-weight: 700;
    height: 34px;
}
.searchButton:link {color: #fff;}
.searchButton:visited {color: #fff;}
.searchButton:hover {color: #fff;}
.searchButton:active {color: #fff;}
.tabPage{
    list-style: none;
    padding-left: 0;
    position: absolute;
    bottom: -1px;
    margin-bottom: 0;
}
.tabPage li{
    float: left;
}
.tabPage li a{
    padding: 6px 12px;
    font-size: 17px;
    border-top: 3px solid #fff;
    display: block;
    color: #34495e;
    text-decoration: none;
}
